<footer>
    <script src="/js/app.js"></script>
    <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqiCeWfV9g3X40HzhYhYU9S6FjzKxzxbWbfg&s" class="logo" >
    </div>
    <!-- <img src="./Color_logo_-_no_background.webp" > -->
</footer>

