<header>
    <nav>
        <button>
        <a href="/posts" class="header-btn">Posts</a>
    </button>
    <button>
        <a href="/users" class="header-btn">Users</a>
    </button>
    </nav>
</header>