<header>
    <nav class="navBar">
        <h1>MyFace</h1>
        <div class="nav-div"></div>
        <button class="header-btn">
        <a href="/posts" >Posts</a>
    </button>
    <div class="nav-div" ></div>
    <button class="header-btn">
        <a href="/users" >Users</a>
    </button>
    <div class="nav-div" ></div>
    </nav>
</header>