<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create User</h1>
<form name= "myForm" method="post" action="/users/create" onsubmit="return validateForm()" >
    <label>
        Name:
        <input type="text" name="name"/>
    </label>
    <label>
        Username:
        <input type="text" name="username"/>
    </label>
    <label>
        Email:
        <input type="text" name="email"/>
    </label>
    <label>
        ProfileImageUrl:
        <input type="text" name="profileImageUrl"/>
    </label>
    <label>
        CoverImageUrl:
        <input type="text" name="coverImageUrl"/>
    </label>
    <button type="submit" id="submit">Submit</button>
</form>
</body>
<%- include('_footer') -%>
</html>